body{
	background:url
}
#banniere{
	background-image: url("ban.png");
	height: 250px;
	width: 100%;
	margin: auto;
	border: 10px solid #ccc;
	border-radius: 10px;
	
}
#nave{
	text-align: center;
	margin: auto;
	padding: 60px;
	
}

#nave li{
		text-decoration: none;
		display: inline;
}

#nave a{
		text-decoration: none;
		display: inline-block;
		font-size: 25px;
		background-color: yellow;
		border-radius: 25px;
		padding: 12px;
}	
		
		
	

#nave a:hover{background: red;
	
}

/*.........................h1.........................*/
h1{
	color: red;
	font-size: 30px;
	text-align:center;
}

/*.........................h2.......................*/

h2{
	
	color: green;
	font-size: 25px;
	text-align: center;
}

/*--..................................tableau..................--*/

table{
	text-align:center;
}
caption{
	color: red;
	text-decoration: underline;
	font-size: 25px;
}
th{
	border: 1px solid black ;
	font-size: 20px;
	
	
}
td{
	border: 1px solid black;
	
	
}
tr{
	border: 1px solid black;
	
}
#fision{
	background: yellow;
	text-align: center;
}

	

	


