body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: antiquewhite;
}

header{
    background-color: black;
}
#photo img{
   
    border-radius: 50%;
    width: 150px;
    height: 150px;
} 



.titre{
    color: blueviolet;
    font-size: 35px;
}
.soustitre{

 
    font-size: 25px;
}
.contineut1{
    display: flex;
    flex-flow: row row-reverse;
    justify-content: space-between;
    width: 35%;
    border: 1px solid black;
    padding: 12px;
    margin: auto;
    background-color: bisque;
  
 } 
 .soustitre1{
     text-align: center;
 }

 img{
    width: 20px;
    height: 20px;
 }



